name: regenerate

on:
  pull_request:
    branches: [ main, master ]

jobs:
  regenerate_dist-index_js:
    runs-on: ubuntu-latest
    steps:
    - 
      uses: actions/checkout@v4.1.6
    - 
      name: regenerate dist/index.js
      run: |
        npm i -g @vercel/ncc@0.38.1
        npm install
        ncc build index.js -m
    -
      name: Git Auto Commit
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        file_pattern: dist/index.js
        commit_message: Regenerate dist/index.js